---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import FormattedDate from '../components/FormattedDate.astro';
import "maplibre-gl/dist/maplibre-gl.css";
import Map from "../components/map.astro";
import {BASE} from '../consts';
// import { format } from 'maplibre-gl';
import Filterpopup from '../components/filterpopup.astro';

import { getCollection } from 'astro:content';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<!-- <Map client:only="react" /> -->

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <script src='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.js'></script>
        <link href='https://unpkg.com/maplibre-gl@latest/dist/maplibre-gl.css' rel='stylesheet' />
	</head>
        <body>
            <Header />
            <!-- <Filterpopup/> -->
            <main>
                <h1 style="margin: 1vh 0; padding: 0 0;"> Welcome Coffee Roamers! </h1>

                <maparea>
                    <button id="filtr" class="buttons">
                        <h5 style="font-style: normal"> Filter </h5>
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"><path fill="var(--gray)" d="M15 19.88c.04.3-.06.62-.29.83a.996.996 0 0 1-1.41 0L9.29 16.7a.99.99 0 0 1-.29-.83v-5.12L4.21 4.62a1 1 0 0 1 .17-1.4c.19-.14.4-.22.62-.22h14c.22 0 .43.08.62.22a1 1 0 0 1 .17 1.4L15 10.75zM7.04 5L11 10.06v5.52l2 2v-7.53L16.96 5z"/></svg>
                    </button>
                    <script> import './post_filtering' </script>
                    <! -- 'this is the popup element' -->
                    <Filterpopup/>  
                    <div id="mapfilters">
                        <!-- use this area to put in filter cards to filter the map -->
                        <button class="buttons activefilters" id="vizActiveFilter" style="display: none"> Visible on Map </button>
                        <button class="buttons activefilters" id="DateActiveFilter" style="display: none"> Date </button>
                        <button class="buttons activefilters" id="RatingActiveFilter" style="display: none"> Rating </button>
                        <button class="buttons activefilters" id="plcholderActiveFilter" style="display: none"> Placeholder </button>
                    </div>
                    <div id="featurecards">
                        <ul>
                            {
                                posts.map((post)=> (
                                    <li id=`${post.id}` class="individual-featured-item">   
                                        <a href={`${BASE}posts/${post.id}/`}>
                                            <h2 class="Name">{post.data.title}</h2>
                                            <div class="CityDateBox">
                                                <h5 class="c">{post.data.city}</h5>
                                                <h5 class="c">-</h5>
                                                <h5 class="c" style="text-align:left"><FormattedDate date={post.data.pubDate} format='short'/></h5>
                                            </div>
                                            <p class="descr">{post.data.description}</p>    
                                            {/* <p> {post.data.heroImage.src} </p> */}
                                            <img src={post?.data?.heroImage?.src} alt="image"/>
                                        </a>
                                    </li>
                                ))
                            }
                        </ul>
                    </div>
                    <div id='actualmap'>
                        <Map />
                    </div>    
                </maparea>
            </main>
        <Footer />
    </body>
</html>


<style>
    #filtr{
        display: flex;
        justify-content: flex-end;
        background-color: inherit;
        border-width: 0;
        border-radius: 8px;
        padding: 0 0.2em;
        margin: auto 0.3em auto auto;
        width: min-content;
        height: 60%;
        align-items: center;
        font-family: inherit;
        font-size: inherit;
    }

    #mapfilters{
        display : grid;
        grid-auto-flow: column;
        padding: 0.3em 0;
        justify-content: start;
        gap: 0.25rem;
        grid-template-rows: auto;
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-behavior:smooth;
        align-items: center;
    }

    .activefilters{
        border: 1px solid black;
        width: fit-content;
        height: 100%;
        padding: .5em .5em;
        margin: 0em .1em;
        text-align: center;
        border-radius: 8px;
    }


    #actualmap{
        display: flex;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: var(--box-shadow);
        flex-direction: column;
        min-width: 300px;
        
    }

    #featurecards{
        display: grid;
        grid-template-columns: minmax(20vw, auto);
        /* text-align: left; */
        align-items: right;
        margin: 0 0;
        padding: 0 0.5em;
        max-height: 700px;
        height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
        scroll-behavior:smooth;
    }

    .individual-featured-item{
        border: 1px solid black;
        padding: .5em .5em;
        margin: 1.5em 0;
        text-align: left;
        border-radius: 8px;
        flex-wrap: wrap;
    }

    .CityDateBox{ 
        display: grid;
        /* grid-template-columns: min-content min-content; */
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        text-align: left;
        column-gap: .25em;
        margin: 0 0;
        padding: 0 0em;

    }
    
    .Name{ 
        margin: 0 0;
        padding: 0, 0;
    }

    .c{
        text-wrap-mode: nowrap;
        font-family: "myFont";
        margin: 0 0;
        padding: 0 0;
        color: var(--gray-light);
    }

    .popupcontent{ 
        justify-content: left;
        margin: 0.5em 0.5em;
        flex: auto;
    }

    .highlighted{
        color: var(--accent);
        box-shadow: 
        0 0px 4px rgba(var(--shadow), 25%), 0 0px 12px rgba(var(--shadow), 33%), 0 0px 20px
        rgba(var(--shadow), 33%);
    }


    .individual-featured-item:hover {
        color: var(--accent);
        box-shadow: 
        0 0px 4px rgba(var(--shadow), 25%), 0 0px 12px rgba(var(--shadow), 33%), 0 0px 20px
        rgba(var(--shadow), 33%);
    }

    .Name{
        /* white-space: nowrap; */
        flex: auto;
    }

    .descr{ 
        font-size: 0.75em;
        padding: 0.05em 0;
        margin: 0.20em 0;
        flex-wrap: wrap;
        flex: auto;
    }

    ul{ 
        align-items: right;
        margin: 0 0;
        padding: 0 0;
        flex: auto;
    }

    a {
        text-decoration: none; /* Removes underline */
        color: inherit;        /* Uses parent element color */
    }



</style>