---
import {BASE} from '../consts.ts';
import FormattedDate from '../components/FormattedDate.astro';

interface Props {
  post: any;
  href?: string;
}

const { post, href = `${BASE}posts/${post.id}/` } = Astro.props;
---

<li id={post.id} class="individual-featured-item">   
    <a href={href}>
        <h2 class="Name">{post.data.title}</h2>
        <div class="CityDateBox">
            <h5 class="c">{post.data.city}</h5>
            <h5 class="c">-</h5>
            <h5 class="c" style="text-align:left"><FormattedDate date={post.data.pubDate} format="short"/></h5>
        </div>
        <p class="descr">{post.data.description}</p>    
        <img src={post?.data?.heroImage?.src} alt={post.data.title} />
    </a>
</li>

<style>

    #featurecards{
        display: grid;
        grid-template-columns: minmax(20vw, auto);
        /* text-align: left; */
        align-items: right;
        margin: 0 0;
        padding: 0 0.5em;
        max-height: 700px;
        height: 70vh;
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
        scroll-behavior:smooth;
    }

    .individual-featured-item{
        border: 1px solid black;
        list-style-type: none;
        padding: .5em .5em;
        margin: 1.5em 0;
        text-align: left;
        border-radius: 8px;
        flex-wrap: wrap;
    }

    .CityDateBox{ 
        display: grid;
        /* grid-template-columns: min-content min-content; */
        grid-auto-flow: column;
        grid-auto-columns: min-content;
        text-align: left;
        column-gap: .25em;
        margin: 0 0;
        padding: 0 0em;

    }
    
    .Name{ 
        margin: 0 0;
        padding: 0, 0;
    }

    .c{
        text-wrap-mode: nowrap;
        font-family: "myFont";
        margin: 0 0;
        padding: 0 0;
        color: var(--gray-light);
    }

    .popupcontent{ 
        justify-content: left;
        margin: 0.5em 0.5em;
        flex: auto;
    }

    .highlighted{
        color: var(--accent);
        box-shadow: 
        0 0px 4px rgba(var(--shadow), 25%), 0 0px 12px rgba(var(--shadow), 33%), 0 0px 20px
        rgba(var(--shadow), 33%);
    }


    .individual-featured-item:hover {
        color: var(--accent);
        box-shadow: 
        0 0px 4px rgba(var(--shadow), 25%), 0 0px 12px rgba(var(--shadow), 33%), 0 0px 20px
        rgba(var(--shadow), 33%);
    }

    .Name{
        /* white-space: nowrap; */
        flex: auto;
    }

    .descr{ 
        font-size: 0.75em;
        padding: 0.05em 0;
        margin: 0.20em 0;
        flex-wrap: wrap;
        flex: auto;
    }

    ul{ 
        align-items: right;
        margin: 0 0;
        padding: 0 0;
        flex: auto;
    }

    a {
        text-decoration: none; /* Removes underline */
        color: inherit;        /* Uses parent element color */
    }



</style>