---
import "maplibre-gl/dist/maplibre-gl.css";
import maplibregl from "maplibre-gl";
import {BASE} from '../consts.ts';
import MapPopupTemplate from '../components/MapPopup.astro';


import { getCollection } from 'astro:content';
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---
<MapPopupTemplate />

<div id="map" 
  style="width:100%; height:100%;"
></div>

<script type="module" define:vars={{posts, BASE}}>
  window.posts = posts;
  // console.log("coords var ->",orderedPosts.coords);
  window.addEventListener("DOMContentLoaded", () => {
      const map = new maplibregl.Map({
      container: "map",
      // style: "https://demotiles.maplibre.org/style.json", // testing demo tile
      style: `${BASE}mapstyle.json`,
      attributionControl: false,

      // -------------------- center on north america, roughly --------------------
      // center: [-100,48],
      // zoom: 2.5,
      // --------------------

      // -------------------- default center on southbay --------------------
      center: [-118.37000311225792,33.8519980151288],
      zoom: 9.5,
      // --------------------
    });
    
    map.addControl(new maplibregl.NavigationControl());
    
    const features = posts.map(c => ({
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [c.data.coords[1], c.data.coords[0]]
        }, // this is changing from latlong to longlat
      "properties": { "name": c.data.title, "id":c.id, "heroimgsrc": c.data.heroImage.src,
                      'city':c.data.city, 'description':c.data.description,
                      'url':`${BASE}posts/${c.id}/`
                    },
    }));

    map.on("load",() => {
      map.addSource('CoffeeCoordinates',{
        type: 'geojson',
        data: {
            "type": "FeatureCollection",
            "features": features
          }
      });

      // this is the red icon symbol as svg
      const svg1 = `<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                    <path fill="#ae3c3c" d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7" />
                    </svg>`;

     const img = new Image();
      img.onload = () => {
        map.addImage('locationIcon', img);
        };
      img.onerror = e => console.error('SVG load error', e);

      img.src = "data:image/svg+xml;charset=utf-8," + encodeURIComponent(svg1);

      map.addLayer({
          'id': 'coffee-points',
          'type': 'symbol',
          'source': 'CoffeeCoordinates',
          'layout':{
            'icon-image':'locationIcon',
            'icon-size': 1,
            'icon-allow-overlap': true
          }
      });

    });

    let popup = new maplibregl.Popup({
      closeButton: true,
      closeOnClick: true,
      maxWidth: '40%',
      anchor:'left',
    });

    let hoveredID = null;
    map.on("mouseenter", "coffee-points", (e) => {
      map.getCanvas().style.cursor = "pointer"; // change cursor
      const feature = e.features[0]; // The clicked feature

      // fill popup with data -----------------
      const template = document.querySelector("#map-popup-template");
      const mappopupnode = template.content.cloneNode(true);

      mappopupnode.querySelector(".Name").textContent = feature.properties.name;
      mappopupnode.querySelector(".her0image").src = feature.properties.heroimgsrc;
      mappopupnode.querySelector(".city").textContent = feature.properties.city;
      mappopupnode.querySelector(".descr").textContent = feature.properties.description;
      mappopupnode.querySelector(".url").href = feature.properties.url;

      // make corresponding feature card highlighted
      hoveredID = feature.properties.id;
      const current = document.getElementById(hoveredID);
      current.classList?.add('highlighted')


      // -----------------

      popup
        .setLngLat(feature.geometry.coordinates)
        // .setHTML(`<a href=${BASE}posts/${feature.properties.id}> ${feature.properties.name}</a>`)
        .setDOMContent(mappopupnode)
        .setOffset([5,0])
        .addTo(map)

        contentEl.style.maxWidth = 'none';
        contentEl.style.padding = '0 ';

    });

      map.on("mouseleave", "coffee-points", () => {
      map.getCanvas().style.cursor = ""; // reset cursor
      const current = document.getElementById(hoveredID);
      current.classList?.remove('highlighted')
      // popup.remove();
    });

  map.on('idle',() => {
    const visiblefeatures = map.queryRenderedFeatures({
      layers:['coffee-points']
    });
    const idss = visiblefeatures.map(f=>f.properties.id);
    
    posts.forEach(post => {
      if (idss.includes(post.id)) {
          post.data.mapvis = true;
      } else {
          post.data.mapvis = false;
      }
      });

    // console.dir(idss.length);
    window.updateFeaturedCardsList();
  });

  });

</script>