---
import "maplibre-gl/dist/maplibre-gl.css";
import maplibregl from "maplibre-gl";
import {BASE} from '../consts.ts';

import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');

const orderedPosts = posts.map(post=>({
  id: post.id,
  coords: post.data.coords,
  title: post.data.title,
  description: post.data.description,
}));

---

<div id="map" 
  style="width:100%; height:500px;"
></div>

<script define:vars={{orderedPosts, BASE}}>
  // console.log("coords var ->",orderedPosts.coords);
  window.addEventListener("DOMContentLoaded", () => {
    const map = new maplibregl.Map({
      container: "map",
      // style: "https://demotiles.maplibre.org/style.json", // testing demo tile
      style: `${BASE}mapstyle.json`,

      // -------------------- center on north america, roughly --------------------
      // center: [-100,48],
      // zoom: 2.5,
      // --------------------

      // -------------------- center on southbay --------------------
      center: [-118.37000311225792,33.8519980151288],
      zoom: 9.5,
      // --------------------
    });

    const features = orderedPosts.map(c => ({
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [c.coords[1], c.coords[0]]
        }, // this is changing from latlong to longlat
      "properties": { "name": c.title, "id":c.id},
    }));
    
    map.on("load",() => {
      map.addSource('CoffeeCoordinates',{
        type: 'geojson',
        data: {
            "type": "FeatureCollection",
            "features": features
          }
      });

      map.addLayer({
          'id': 'coffee-points',
          'type': 'circle',
          'source': 'CoffeeCoordinates',
          'paint': {
            'circle-radius': 6,
            'circle-color': 'red', // Coffee brown
            'circle-stroke-width': 1,
            'circle-stroke-color': '#fff'
          }
      });

      map.addControl(new maplibregl.NavigationControl());

    });


    let popup = new maplibregl.Popup({
      closeButton: true,
      closeOnClick: true
    });

    map.on("mouseenter", "coffee-points", (e) => {
      map.getCanvas().style.cursor = "pointer"; // change cursor
      const feature = e.features[0]; // The clicked feature

      popup
        .setLngLat(feature.geometry.coordinates)
        .setHTML(`<a href=${BASE}posts/${feature.properties.id}> ${feature.properties.name}</a>`)
        .addTo(map);
    });

  });
</script>